@import '../../styles/variables.scss';

.tab__content .active.tab {
  background: transparent;
}
.Quotes-Container {
  width: 500px;
  ul {
    height: 400px;
    list-style-type: none;
    padding: 0;
  }
}
.secondary.menu {
  border: none !important;
  margin: 0;
  max-width: 399px;
  overflow: auto;
  &::-webkit-scrollbar {
    height: .5em;
  }
}
.sub-menu {
  margin-bottom: 10px;
  width: 500px;
  display: flex;
  .item {
    border: none !important;
    padding-left: 0 !important;
    margin-right: 20px !important;
    .remove-list {
      padding-left: 10px;
      visibility: hidden;
    }
    &:hover .remove-list {
      visibility: visible;
    }
  }
}
.list-settings {
  margin: 10px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.select-list {
  margin: 17px 0 8px 0;
  font-size: 13px;
  color: $silver; 
  select {
    margin-left: 20px;
    max-width: 100px;
    color: $white;
    padding: 0;
    background: transparent;
    outline: none;
    border: none;
  }
}
.new-list {
  position: absolute;
  top: 52px;
  left: 415px;
  input {
    width: 80px;
    color: $white;
    border: none;
    background: transparent;
    &:focus {
      outline: none;
    }
  }
}
.new-quote-form {
  input {
    width: 399px;
    padding: 10px 0;
    margin-bottom: -10px;
    border: none;
    color: $white;
    background: transparent;
    &:focus {
      outline: none;
      border-bottom: 1px solid $white;
    }
  }
}
.Quote {
  display: flex;
  align-items: flex-start;
  .edit-quote {
    width: 399px;
    padding: 10px 0;
    color: $white;
    &:focus {
      outline: none;
      border-bottom: 1px solid $white !important;
    }
  }
  .remove-quote {
    visibility: hidden;
    position: absolute;
    left: 480px;
    cursor: pointer;
  }
  &:hover .remove-quote {
    visibility: visible;
  }
}
