@import '../../styles/variables.scss';

.SettingsContainer {
  z-index: 100;
  position: fixed;
  bottom: 20px;
  left: 10px;
}

.Settings {
  background-color: $secondary-color;
  z-index: 100;
  display: none;
  height: 500px;
  width: 700px;
  padding: 20px;
  margin-bottom: 10px;
}
.menu-container {
  padding: 10px !important;
}
.current-tab-container {
  height: 470px;
  overflow-y: auto;
  padding: 0 !important;
  margin: 10px 0;
}
.showing {
  display: block;
}

.setting.large.icon {
  cursor: pointer;
}
.active.item, .tabs__content {
  background: transparent !important;
}

