@import '../../styles/variables.scss';

.Welcome {
  font-size: 4em;
  max-width: 700px;
  text-align: center;
  margin: 0 auto;
  white-space: nowrap;
}
.Welcome_Add{
  display: flex;
  border-bottom: 3px solid $white;
  span.input{
    flex:4;
  }
  span.submit{
    flex:1;
  }
  button{
    padding: 0;
    background-color: rgba(0,0,0,0);
    border: none;
    border-left: 1px solid white;
    width: 100%;
    &:focus{
      outline: none;
    }
  }
  input{
    margin-top: 10px;
    font-size: 1em;
    text-align: center;
    &::placeholder{
      color: rgba(255, 255, 255, 0.5);
    }
    background-color: rgba(0,0,0,0);
    border:none;
    width: 100%;
    &:focus{
      outline: none;
      // background-color: rgba(255, 255, 255, 0.5);
      color: $white;
    }
  }
}
