@import '../../styles/variables.scss';
.FocusItem{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  .delete {
    visibility: hidden;
  }
  &:hover .checkbox {
    visibility: visible;
  }
  &:hover .delete {
    visibility: visible;
  }
  > span {
    margin: 0 10px;
    // flex: 1;
    font-size: 3em;
    .checkbox {
      visibility: hidden;
      vertical-align: middle;
      cursor: pointer;
      height: .5em !important;
    }
    .remove {
      font-size: 1.5em;
    }
    &:nth-child(1),&:nth-last-child(1){
      flex:0 0 1em;
    }
    &.checked{
      text-decoration: line-through;
      opacity: .75;
    }
    button{
      opacity: .75;
      float: right;
      background-color: rgba(0, 0, 0, 0);
      border: none;
      padding: 0;
      &:active {
        outline: none;
      }
      &:hover {
        opacity: 1;
      }
    }
    input[type=checkbox]{
      width:100%;
      height:100%;
    }
  }
}
.Focus{
  // margin: 10px 0;
  margin-bottom: 10px;
  text-align: center;
  .focus-prompt {
    margin: 10px auto;
    font-weight: 300;
    font-size: 2.5em;
  }
  .FocusItem {
    .delete {
      font-size: 20px;
      button {
        cursor: pointer;
      }
    }
  }
}
.AddFocus{
  width: 100%;
  margin: 0 auto;
  font-size: 3em;
  display: flex;
  border-bottom: 2px solid $white;
  span.input{
    flex:4;
  }
  span.submit{
    flex:1;
  }
  button{
    margin: 10px 0 !important;
    padding: 0;
    background-color: rgba(0,0,0,0);
    border: none;
    border-left: 1px solid white;
    width: 100%;
    &:focus{
      outline: none;
    }
  }
  input{
    text-align: center;
    &::placeholder{
      // color:rgba(255, 255, 255, 0.5);
    }
    background-color: rgba(0,0,0,0);
    border:none;
    width: 100%;
    &:focus{
      outline: none;
      // background-color: rgba(255, 255, 255, 0.5);
      color: $white;
    }
  }
}
