
@import '../../styles/variables.scss';

.Current-Quote {
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  bottom: 10px;
  width: 100%;
  max-width: 700px;
  text-align: center;
  font-size: 1em;
  font-weight: 300;
  .quote-source {
    color: $silver;
  }
}
