.tab__content .active.tab {
  background: transparent;
}
.Quotes {
  ul {
    height: 400px;
    list-style-type: none;
    padding: 0;
  }
}
.secondary.menu {
  border: none !important;
  max-width: 400px;
  overflow: auto;
}
.sub-menu {
  width: 500px;
  display: flex;
  .item {
    border-width: 4px !important;
  }
}
.new-list {
  position: absolute;
  top: 0;
  right: 0;
  input {
    color: #FFF !important;
    background: transparent !important;
  }
}
