.tab__content .active.tab {
  background: transparent;
}
.Quotes {
  ul {
    height: 400px;
    list-style-type: none;
    padding: 0;
  }
}
.secondary.menu {
  border: none !important;
  max-width: 400px;
  overflow: auto;
}
.sub-menu {
  margin-bottom: 10px;
  width: 500px;
  display: flex;
}
.new-list {
  position: absolute;
  top: 0;
  right: 0;
  input {
    border: none !important;
    color: #FFF !important;
    background: transparent !important;
  }
}
.new-quote-form {
  input {
    padding: 0 !important;
    width: 470px !important;
    border: none !important;
    border-radius: 0 !important;
    color: #fff !important;
    background: transparent !important;
  }
}
.quote-form {
  height: 50px;
  input {
    padding: 0 !important;
    width: 470px !important;
    border: none !important;
    border-radius: 0 !important;
    color: #fff !important;
    background: transparent !important;
  }
  .remove.icon {
    position: absolute;
    top: 0;
    right: 5px;
  }
}
