@import '../../styles/variables.scss';

.tab__content .active.tab {
  background: transparent;
}
.Quotes-Container {
  width: 500px;
  ul {
    height: 400px;
    list-style-type: none;
    padding: 0;
  }
}
.secondary.menu {
  border: none !important;
  max-width: 399px;
  overflow: auto;
  &::-webkit-scrollbar {
    height: .5em;
  }
}
.sub-menu {
  margin-bottom: 10px;
  width: 500px;
  display: flex;
 
}
.list-settings {
  margin: 10px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.select-list {
  margin: 17px 0 8px 0;
  font-size: 13px;
  color: $silver; 
  select {
    margin-left: 20px;
    max-width: 100px;
    color: $white;
    padding: 0;
    background: transparent;
    outline: none;
    border: none;
  }
}
.new-list {
  padding: 0 !important;
  position: absolute;
  top: 46px;
  left: 400px;
  width: 100px;
  input {
    border: none !important;
    color: $white !important;
    background: transparent !important;
  }
}
.new-quote-form {
  margin: 20px 0 !important;
  input {
    width: 399px;
    padding: 0 !important;
    border: none !important;
    border-radius: 0 !important;
    color: $white !important;
    background: transparent !important;
    &:focus {
      outline: none;
    }
  }
}
.Quote {
  display: flex;
  align-items: flex-start;
  .edit-quote {
    width: 399px;
    margin-bottom: 20px;
    padding-bottom: 20px;
    color: $white;
    &:focus {
      outline: none;
      border-bottom: 1px solid $white !important;
    }
  }
  .remove.icon {
    position: absolute;
    left: 480px;
    cursor: pointer;
  }
}
