@import './styles/variables.scss';
body {
  margin: 0;
  padding: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: $white;
}
::selection, input::selection {
  color: $white;
  background-color: $blue;
}

