@import '../../../styles/variables.scss';
.ListContainer{
  z-index: 1000;
  position: fixed;
  bottom: 20px;
  right: 10px;
  .restricted-height{
    max-height: 320px;
    height: auto;
    overflow-y:auto;
  }
}
